.slider-container {
  position: relative;
  width: 99vw;
  height: 75vh;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  overflow-y: hidden; /* Optional: prevent vertical scrollbar */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: slideLeft 6s ease-in-out infinite;
}

.slide img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  display: block;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0%);
    opacity: 1;
  }
  40% {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}